.header {
  text-align: center;
  background: papayawhip;
  padding: 30px;
}

body {
  background-image: url(https://i.cbc.ca/1.4029788.1489768618!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_780/baking.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-left: 50px;
  margin-right: 50px;
}

h1, h2, h3, h4 {
  font-family: fantasy;
  font-weight: 900;
}

.container {
  background: white;
  margin-bottom: 15px;
  margin-top: 85px;
  padding:15px;
}

img {
  width: 400px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.right{
  float: right;
  width: 15%;
}

.right img{
  max-width: 100%;
  height: auto;
}
.left{
  float: left;
  width: 80%
}

nav {
  overflow: hidden;
  background-color: white;
  font-family: Arial;
}

nav a {
  float: left;
  font-size: 16px;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color:black;
  padding: 14px 16px;
  background-color:white;
}

nav a:hover, .dropdown:hover .dropbtn {
  background-color: grey;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {
  background-color: #ddd;
}


.dropdown:hover .dropdown-content {
  display: grey;
}

.active {
  color: grey
}
