.header {
  text-align: center;
  background: papayawhip;
  padding: 30px;
}

body {
  background-image: url(https://i.cbc.ca/1.4029788.1489768618!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_780/baking.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: fantasy;
  font-weight: 900;
}

.container {
  background: white;
  margin-bottom: 150px;
  padding-top: 15px;
  padding-bottom: 15px;
}

img {
  width: 300px;
  height: 300px;
}

